.wrapper {
   padding-top: calc(var(--mantine-spacing-xl) * 2);
   padding-bottom: calc(var(--mantine-spacing-xl) * 2);
   min-height: rem(650px);
}

.bgimg {
   background-image: url(https://images.pexels.com/photos/1427107/pexels-photo-1427107.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
}

.title {
   margin-bottom: calc(var(--mantine-spacing-xl) * 1.5);
}

.item {
   border-radius: var(--mantine-radius-md);
   margin-bottom: var(--mantine-spacing-lg);
   border: rem(1px) solid light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-4));
}

.faqImage {
   border-radius: 7px;
}

.inner {
   display: flex;
   justify-content: space-between;
   padding-top: calc(var(--mantine-spacing-xl) * 4);
   padding-bottom: calc(var(--mantine-spacing-xl) * 4);
}

.content {
   max-width: rem(480px);
   margin-right: calc(var(--mantine-spacing-xl) * 3);

   @media (max-width: $mantine-breakpoint-md) {
      max-width: 100%;
      margin-right: 0;
   }
}

.title {
   color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
   font-family:
      Greycliff CF,
      var(--mantine-font-family);
   font-size: rem(44px);
   line-height: 1.2;
   font-weight: 900;

   @media (max-width: $mantine-breakpoint-xs) {
      font-size: rem(28px);
   }
}

.control {
   @media (max-width: $mantine-breakpoint-xs) {
      flex: 1;
   }
}

.image {
   width: rem(376px);
   height: rem(356px);

   @media (max-width: $mantine-breakpoint-md) {
      display: none;
   }
}

.highlight {
   position: relative;
   background-color: var(--mantine-color-blue-light);
   border-radius: var(--mantine-radius-sm);
   padding: rem(4px) rem(12px);
}